---
import Icon from '../atoms/Icon.astro';

interface Props {
  question: string;
  open?: boolean;
  class?: string;
}

const { question, open = false, class: className = '' } = Astro.props;
---

<div class:list={['group border-b border-outline-variant py-8', className]}>
  <div class="flex justify-between items-center cursor-pointer">
    <h4 class="font-body-lg text-body-lg font-semibold">{question}</h4>
    <Icon name="add" class="text-outline group-hover:text-secondary transition-colors" />
  </div>
  <div
    class:list={[
      open ? '' : 'hidden',
      'mt-4 text-on-tertiary-container font-body-md text-body-md max-w-3xl leading-relaxed',
    ]}
  >
    <slot />
  </div>
</div>
